@model IEnumerable<Finalizer.Data.Product>
@{
    ViewData["Title"] = "Index";
}
@{
    if (Model != null)
    {
        <div>
            <h3>Here are your results for searching "@ViewData["searchTerm"].ToString()"</h3>
        </div>
        <div>
            <h2 class="p-2  bg-dark text-light index-layout-style"></h2>
            <div class="row m-0">
                <div class="card-deck m-5 p-2">
                    @foreach (var product in this.Model)
                    {
                        <div class="card cardG mb-5">
                            <img class="card-img-top p-0 m-0" src="@(product.ProductImages.Any() ? product.ProductImages.First().Url : "/images/noImage.png")" alt="@(product.ProductImages.Any() && !string.IsNullOrEmpty(product.ProductImages.First().AltText) ? product.ProductImages.First().AltText : product.Name)" />
                            <div class="card-body p-0 m-0">
                                <h5 class="card-title ml-2">@product.Name</h5>
                                <p class="card-text ml-2">@product.Description</p>
                                <a class="btn btn-block btn-dark" asp-controller="shop" asp-action="details" asp-route-id="@product.ID">View @product.Name</a>
                                <div class="card-footer mb-5">
                                    <small class="text-secondary m-0">@product.Price.ToString("c")</small>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div> We Couldn't find any matching products.</div>
    }
}

