@model IEnumerable<Finalizer.Data.Category>
@{
    ViewData["Title"] = "Shop";
}

@foreach (var category in this.Model)
{<div>
        <h2 class="p-3  bg-dark text-light index-layout-style">@category.Name</h2>
        <div class="container">
            <div class="row m-0">
                <div class="card-deck m-0 p-0">
                    @foreach (var product in category.Products.Take(3))
                    {

                        <div class="card cardG mb-5">
                            <img class="card-img-top p-0 m-0" src="@(product.ProductImages.Any() ? product.ProductImages.First().Url : "/images/noImage.png")" alt="@(product.ProductImages.Any() && !string.IsNullOrEmpty(product.ProductImages.First().AltText) ? product.ProductImages.First().AltText : product.Name)" />
                            <div class="card-body p-0 m-0">
                                <h5 class="card-title m-0">@product.Name</h5>
                                <p class="card-text m-0">@product.Description</p>
                                <a class="btn btn-block btn-dark" asp-controller="shop" asp-action="details" asp-route-id="@product.ID">View @product.Name</a>
                                <div class="card-footer m-0 mb-5">
                                    <small class="text-secondary m-1">@product.Price.ToString("c")</small>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
            </div>
        </div>
}

@*sample card
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>*@